* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  /*display: flex;*/
  justify-content: center;
  align-items: flex-start; /* Changed to flex-start to allow space for the description */
  height: 100vh;
  padding-top: 20px; /* Add padding to the top for spacing */
}

p {
  line-height: 1.4; /* line height 1.5x */
  font-size: 16px;
}

.container, .text-intro-description {
  width: 50%; /* must set width */
  margin: 0 auto; /* center horizontally */
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /*width: 850px;*/
  margin-bottom: 60px;
}

.text-intro-area {
  width: 50%; /* must set width */
  margin: 0 auto; /* center horizontally */
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /*width: 850px;*/
  margin-bottom: 60px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 1.5rem;
}

.text-intro-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.text-intro-description ul {
  margin-top: 10px;
  padding-left: 20px;
}

.text-intro-description ul li {
  margin-bottom: 5px;
}

.input-container, .output-container {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 50px;
  resize: none;
  font-family: monospace;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

.output-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  width: auto;
  padding: 6px 12px;
  margin-left: 10px;
  background-color: #2196F3;
}

button:hover {
  background-color: #1976D2;
}

.center-text {
  text-align: center;
}

footer {
  padding-top: 20px;
}

.paragraph-p1 {
  margin-bottom: 20px;
  flex: 1;
  /*font-size: 0.95rem;*/
}

.paragraph-l1 {
  margin-bottom: 20px;
  flex: 1;
  line-height: 1.4; /* line height 1.5x */
  font-size: 16px;
  /*font-size: 0.95rem;*/
}